div {
	background-color: white;
	overflow: auto;
	font-family: arial, sans-serif;
	padding: 0;
	margin: 0;

}

.sidebar {
	float: revert-layer;
	background-color: #7D7463;
	position: relative;
}

.sidebar a {
	float: right;
	display: inline block;
	padding: 25px 20px;
	margin-bottom: 10px;
	text-decoration: none;
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.sidebar h1 a{
	float: left;
	display: inline-block;
	color: white;
	margin-right: 10px;

}
.sidebar a.active {
	background-color: #A8A196;
	font-weight: bold;
	color: black;
}

.sidebar a:hover {
	background-color: #7D7463;
	color: white;
}

main.content {
	margin-left: 0px;
	padding: 0px;
	height: 1500px;
}

.container {
	position: relative;
	margin: 0;
	padding: 0;
}

img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

button {
	background-color: #A8A196;
	border-radius: 30px;
	height: 40px;
	width: 100px;
}

@media screen and (max-width: 800px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}
	.sidebar a {
		float: left;
	}

	main.content {
		margin-left: 0;

	}
	
}

@media screen and (max-width: 500px) {
	.sidebar a {
		text-align: center;
	}
}